<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html>
	<head>
		<title>Limpeza e manutenção</title>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/angular.min.js"></script>
		<script src="../js/jquery.dataTables.min.js"></script>
		<script src="../js/angular-datatables.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/datatables.bootstrap.css">
		
	</head>
	<body ng-app="crudApp" ng-controller="crudController">
		<div class="container" ng-init="fetchData()">
			<br />
				<h3 align="center">Limpeza e manutenção</h3>
				<a class="btn btn-primary" href="../index.html" role="button">Home</a>

			<br />
			<div class="alert alert-success alert-dismissible" ng-show="success" >

				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{successMessage}}
			</div>

			<br />
			<div class="table-responsive" style="overflow-x: unset;">
				<table datatable="ng" dt-options="vm.dtOptions" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Tipo do Quarto</th>
							<th>Status</th>
							<th>Atender Quarto</th>
							<th>Liberar Quarto</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="name in namesData">
							<td>{{name.nome}}</td>
							<td>{{name.tipos_idtipo}}</td>
							<td>{{name.status}}</td>
							<td><button type="button" ng-click="atenderData(name.idquartos)" class="btn btn-warning btn-xs">Atender</button></td>
							<td><button type="button" ng-click="liberarData(name.idquartos)" class="btn btn-primary btn-xs">Liberar</button></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</body>
</html>



<script>

setTimeout(function(){

location.reload();

},10000);

var app = angular.module('crudApp', ['datatables']);
app.controller('crudController', function($scope, $http){

	$scope.success = false;

	$scope.error = false;

	$scope.fetchData = function(){
		$http.get('fetch_data.php').success(function(data){
			$scope.namesData = data;
		});
	};

	$scope.openModal = function(){
		var modal_popup = angular.element('#crudmodal');
		modal_popup.modal('show');
	};

	$scope.closeModal = function(){
		var modal_popup = angular.element('#crudmodal');
		modal_popup.modal('hide');
	};

	$scope.addData = function(){
		$scope.modalTitle = 'Cadastrar';
		$scope.submit_button = 'Cadastrar';
		$scope.openModal();
	};

	$scope.submitForm = function(){
		$http({
			method:"POST",
			url:"crud.php",
			data:{'nome':$scope.nome, 'tipos_idtipo':$scope.tipos_idtipo,'status':$scope.status, 'action':$scope.submit_button, 'idquartos':$scope.hidden_id}
		}).success(function(data){
			if(data.error != '')
			{
				$scope.success = false;
				$scope.error = true;
				$scope.errorMessage = data.error;
			}
			else
			{
				$scope.success = true;
				$scope.error = false;
				$scope.successMessage = data.message;
				$scope.form_data = {};
				$scope.closeModal();
				$scope.fetchData();
			}
		});
	};

	$scope.fetchSingleData = function(idquartos){
		$http({
			method:"POST",
			url:"crud.php",
			data:{'idquartos':idquartos, 'action':'fetch_single_data'}
		}).success(function(data){
			$scope.nome = data.nome;
			$scope.tipos_idtipo = data.tipos_idtipo;
			$scope.status = data.status;
			$scope.hidden_id = idquartos;
			$scope.modalTitle = 'Atualizar Data';
			$scope.submit_button = 'Atualizar';
			$scope.openModal();
		});
	};

	$scope.atenderData = function(idquartos){
		if(confirm("Você realmente ira atender o quarto?"))
		{
			$http({
				method:"POST",
				url:"crud.php",
				data:{'idquartos':idquartos, 'action':'Atender'}
			}).success(function(data){
				$scope.success = true;
				$scope.error = false;
				$scope.successMessage = data.message;
				$scope.fetchData();
			});	
		}
	};

	$scope.liberarData = function(idquartos){
		if(confirm("O Quarto esta pronto ?"))
		{
			$http({
				method:"POST",
				url:"crud.php",
				data:{'idquartos':idquartos, 'action':'Liberar'}
			}).success(function(data){
				$scope.success = true;
				$scope.error = false;
				$scope.successMessage = data.message;
				$scope.fetchData();
			});	
		}
	};


});

</script>